# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
 
on boot
# basic network init
    ifup lo
    hostname localhost
    domainname localdomain

    chmod 0644  /sys/class/input/input4/device/enable
    chmod 0644  /sys/class/input/input4/device/delay   
    chmod 0644 /sys/class/input/input4/device/direct
    chmod 0644  /sys/class/input/input4/device/data   
    chmod 0644  /sys/class/input/input4/device/cali 
    chown system system  /sys/class/input/input4/device/enable
    chown system system  /sys/class/input/input4/device/delay   
    chown system system  /sys/class/input/input4/device/direct
    chown system system  /sys/class/input/input4/device/data   
    chown system system  /sys/class/input/input4/device/cali  

    # no compass sensor.
    chmod 0644 /sys/class/compass/akm8963/enable_acc
    chmod 0644 /sys/class/compass/akm8963/enable_mag
    chmod 0644 /sys/class/compass/akm8963/enable_ori
    chmod 0644 /sys/class/compass/akm8963/delay_acc
    chmod 0644 /sys/class/compass/akm8963/delay_mag
    chmod 0644 /sys/class/compass/akm8963/delay_ori
    chmod 0644 /sys/class/compass/akm8963/accel 
    chown system system /sys/class/compass/akm8963/enable_acc
    chown system system /sys/class/compass/akm8963/enable_mag
    chown system system /sys/class/compass/akm8963/enable_ori
    chown system system /sys/class/compass/akm8963/delay_acc
    chown system system /sys/class/compass/akm8963/delay_mag
    chown system system /sys/class/compass/akm8963/delay_ori
    chown system system /sys/class/compass/akm8963/accel   

    chmod 0644 /sys/devices/platform/tegra-i2c.0/i2c-0/0-0039/enable_ps_sensor
    chown system system /sys/devices/platform/tegra-i2c.0/i2c-0/0-0039/enable_ps_sensor
    chmod 0644 /sys/devices/platform/tegra-i2c.0/i2c-0/0-0039/enable_als_sensor
    chown system system /sys/devices/platform/tegra-i2c.0/i2c-0/0-0039/enable_als_sensor
# for g-sensor adjust
    mkdir /data/sensoradjust 0771 system system
    chown system system /data/sensoradjust
# wangguibo changed from 0644 to 0744.(2013-05-29)
    chmod 0744 /data/sensoradjust

# set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 13 40 40

# Memory management.  Basic kernel parameters, and allow the high
# level system server to be able to adjust the kernel OOM driver
# parameters to match how it is managing things.
    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/min_free_order_shift 4
    chown root system /sys/module/lowmemorykiller/parameters/adj
    chmod 0664 /sys/module/lowmemorykiller/parameters/adj
    chown root system /sys/module/lowmemorykiller/parameters/minfree
    chmod 0664 /sys/module/lowmemorykiller/parameters/minfree

    # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_background_ratio  5

    # Permissions for System Server and daemons.
    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
    chown system system /sys/power/state
    chown system system /sys/power/wakeup_count
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock

service vold /system/bin/vold
    class core
    socket vold stream 0660 root mount
    ioprio be 2

service akmd /system/bin/akmd8963 -m 4 -o 1
    class main
    user system
    group system
    disabled
    oneshot

on property:ro.his.compass=1
    start akmd


service hsUsbSetamsg /system/bin/sh /etc/callamsg.sh
    class main
    user root
    group root
    disabled
    oneshot

service hsUsbSetrmsg /system/bin/sh /etc/callrmsg.sh
    class main
    user root
    group root
    disabled
    oneshot

# for FTModeApp
service filepermisopen /system/bin/filepermissionopen.sh
    user root
    group root
    disabled
    oneshot

service filepermisreset /system/bin/filepermissionreset.sh
    user root
    group root
    disabled
    oneshot

